<header>Log entries for <%= link_to(@wine.name, @wine) %></header>
<ol id="logentries">
  <% @log_entries.each do |logentry| %>
  <li>
    <span class="logentry"><%= pluralize(logentry.rating, 'star') %></span>
    <span class="user">by <%= logentry.name %> </span>
    <span class="location">at <%= logentry.location %> </span>
    <span class="date">
      <%= time_ago_in_words(logentry.tasted_on) %> ago
    </span>
    <p>
      &quot;<%= logentry.comments %>&quot;
    </p>
  </li>
  <% end %>
</ol>
<%= link_to 'Write a log entry', new_wine_log_entry_path(@wine), remote: true,
  data: { 'update-target' => 'log_entry_form_container' },
  class: 'btn btn-primary' %>

<div id="log_entry_form_container"></div>